<!DOCTYPE html>
<html>
  {% extends "template.html" %}
  {% block content %}
  <center><span class="w3-tag w3-wide">ABOUT ME</span></center>
  <p>
  KataMarija (pronounced "ka-ta-MAR-ee-yah") is a play on the video game Katamari Damacy, one that I have been a fan of since junior high, and my name, Marija.
  </p><p> 
  I am a self-taught costume, prop, and craft creator currently based in Chicago. 
  Crafting has been a hobby and a love since I was little, when it consisted only of pipe cleaners, googley eyes, and Sculpey clay.
  It stayed a side-love all throughout high school and college, while working in theatre prop shops.
  After moving to Chicago, I rediscovered the joy of cosplay and have been doing so fairly consistently since 2013.
  </p><p> 
  My aesthetic tends towards armor and sculpting, particularly in small intricate details, but I am continuing to learn to be a seamstress and other types of craft.
  </p>
  {% endblock %}
</body>
</html>
