<!DOCTYPE html>
<html>
  {% extends "template.html" %}
  {% block content %}
  <center><span class="w3-tag w3-wide">COSPLAY DATABASE</span></center>
  <div class="w3-container">
  	There are {{ total }} available costumes right now!
    <br><br>
  	The whole list here!
    <br><br>
  	{% for costume in costumes %}
    <a href="/costumes/{{costume.id}}">{{ costume.character_variation}} {{ costume.character_name}}</a><br>
  	{% endfor %}
  </div>

  <div class="w3-content">
    <span class="w3-tag w3-wide">ADD NEW COSTUME</span>
    <p><span class="w3-tag">FYI!</span> </p> 
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Character Name" required name="character_name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Variation" required name="character_variation"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Series" required name="character_series"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Media Type" required name="media_type"></p>
      <p><button class="w3-button w3-black" type="submit">SUBMIT</button></p>
    </form>
  </div>

  {% endblock %}
</body>
</html>
