<!DOCTYPE html>
<html>
  {% extends "template.html" %}
 {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
  {% block content %}
<center>
  <span class="bodytitle padding">cosplay database</span>
</center>
<div class="w3-container">
  <div class="w3-half">
  	There are {{ total }} available costumes right now!
    <br><br>
  	The whole list here!
    <br><br>
  	{% for costume in costumes %}
    <a href="/costumes-{{costume.id}}">{{ costume.character_variation}} {{ costume.character_name}}</a><br>
  	{% endfor %}
  </div>

<div class="w3-half">
 <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.character_name.label }}<br>
            {{ form.character_name(size=32) }}
            {% for error in form.character_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.character_series.label }}<br>
            {{ form.character_series(size=32) }}
            {% for error in form.character_series.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.character_variation.label }}<br>
            {{ form.character_variation(size=32) }}
            {% for error in form.character_variation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.media_type.label }}<br>
            {{ form.media_type(size=32) }}
            {% for error in form.media_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.completed() }} {{ form.completed.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
  </div>

  {% endblock %}
</body>
</html>
