<!DOCTYPE html>
<html>
 <body>
  {% extends "template.html" %}
  {% block content %}

  <center>
    <span class="bodytitle padding">BLACK LIVES MATTER RESOURCES</span>
    <b><p> Listen. Learn. Speak Up, but not Over </p></b>
  </center>
  {% for cat in link_cat %}
  <p>{{ cat }} Resources</p>
  {% for link in links %}
  {% if link.category == cat %}
   <ul>
   <p class ="w3-text-amber">
     <li><a href="{{link.url}}">{{ link.name }}</a></li>
   </p>
   </ul>
   {% endif %}
   {% endfor %}
   {% endfor %}

  {% endblock %} <br>
 </body>
</html>

